# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Foldersq
_obj
_test

# IDE
.idea

# Generated Binaries
cmd/on-network-server/on-network-server*
cmd/on-network-server-impl/on-network-server*


# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
