swagger: "2.0"
info:
  title: on-network api
  version: "0.0.1"
consumes:
- application/json

definitions:
  Error:
    properties:
      code:
        format: int32
        type: integer
      fields:
        type: string
      message:
        type: string
  ErrorResponse:
    properties:
      message:
        type: string
      errors:
        items:
          type: string
        type: array
    required:
    - message
  About:
    properties:
      name:
        type: string
    required:
    - name
  UpdateSwitch:
    type: object
    required:
    - ip
    - username
    - password
    - imageURL
    - switchType
    - updateType
    properties:
      ip:
        type: string
      username:
        type: string
      password:
        type: string
      imageURL:
        type: string
      switchType:
        type: string
      updateType:
        type: string

securityDefinitions:
  APIKeyHeader:
    type: apiKey
    in: header
    name: authorization

security:
  - APIKeyHeader: []

paths:
  /about:
    get:
      description: Information about on-network
      operationId: aboutGet
      responses:
        200:
          description: Successfully retrieved about
          schema:
            $ref: '#/definitions/About'
        default:
          description: Error
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Get about
      tags:
        - /about

  /updateSwitch:
    post:
      description: Update switch firmware based on specified switch type and firmware image
      operationId: updateSwitch
      parameters:
        - name: body
          in: body
          schema:
            $ref: "#/definitions/UpdateSwitch"
      responses:
        201:
          description: Successfully issued update switch firmware
        default:
          description: Error
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Update switch firmware
      tags:
        - /updateSwitch

#        description: Optional description in *Markdown*
#        required: true
#        content:
#          application/json:
#            schema:
#              $ref: '#/definitions/About'
#
